<div class="row">
	<aside class="col-md-3">
		<h3>Contact Information</h3>
		<ul>
			<li>
				<a href="mailto:jkwan34@myseneca.ca">jkwan34@myseneca.ca</a>

			</li>
			<li>
				<a href="mailto:kwanjas0412@gmail.com">kwanjas0412@gmail.com</a>

			</li>
			<li>
				<a href="mailto:jase.kwan@alum.utoronto.ca">jase.kwan@alum.utoronto.ca</a>
			</li>

			<li>
				<a href="https://www.linkedin.com/in/jason-kwan-48277a106/">Linkedin</a>
			</li>
		</ul>
		<h3>Deployed on Heroku</h3>
		<h4>

			<button type="button" data-html="true" class="btn btn-primary" data-toggle="popover" title="Dependencies" data-content="bcryptjs: ^2.4.3, <br>
			body-parser: ^1.18.2, <br>
			client-sessions: ^0.8.0,<br>
			express: ^4.16.2,<br>
			express-handlebars: ^3.0.0,<br>
			handlebars: ^4.0.11,<br>
			mongoose: ^4.13.7,<br>
			pg: ^7.4.0,  <br>
			pg-hstore: ^2.3.2,<br>
			sequelize: ^4.23.1">List of Dependencies</button>

		</h4>
		<p>This webpage is built on express, node and handlebars template engine</p>
		<p>The buttons on the navigation bar will redirect you to a webpage that utilizes promises, sequelize, handlebars. The database
			is hosted by Heroku using AWS. The comments section is hosted as on mlab MongoDb.

			<a href="https://github.com/kwanjas3/jkresumeSRC">Source Code</a>
		</p>
		<br>
		<p>In order to access the information: All Employees/Managers/Departments</p>
		<ul>
			<li>Username: Testing</li>
			<li>Password: Testing</li>
		</ul>
		<p>Alternatively, you can register your own test account, the password is encrypted using bcrypt module</p>
		<code>
			bcrypt.genSalt(10, function (err, salt) { // Generate a "salt" using 10 rounds <br><br>
                bcrypt.hash(userData.password, salt, function (err, hash) { <br>
                    userData.password = hash; ... }<br>
		</code>
		<br>


	</aside>
	<section class="main col-md-9">
		<article>
			<h2>Background</h2>
			<p>Jason is a driven and resourceful student programmer with experience in full stack programming and is looking to obtain
				a position related to Software Development. Jason’s previous experience has given him well-rounded team-work skills and
				his ability to handle stressful situations will give him the edge when situated in an AGILE environment.</p>
			<h2>Experience</h2>
			<div style="height:480px;width:100%;overflow:auto;">
				<ol>
					<li>
						<b>July 2018</b>
						<br> • Freelanced a
						<a href="https://framebooth88.herokuapp.com">landing page</a>
						<br>• Implemented Google Analytics and form validation to track interest on landing page.
						<br>• express, bcrypt, mongoDB, nativeJS front-end for quick deployment.
					</li>

					<li>
						<b>Jan 2018 - Current</b>
						<br> •
						<a href="http://www.senecacollege.ca/programs/fulltime/CPA.html">Junior Programmer @ Seneca Markham </a>
						<br>
						<article data-html="true">
							• Assisting the development lead, I develop, test and support applications
							<br> • Participates in code review, follows defined documentation policies, standards and procedures
							<br> • Implemented JSP servlets as middleware to parse params
							<br> • Modified Microsoft ReactJS compiled script to work on local domain
							<br> • Intercepted existing ajax call to reroute to proxy to workaround CORS/XXS
							<br> • Implemented workaround for form injection without access to ReactJS sourcecode
							<br>bypassing empty field defaultstate.
							<br> •
							<a href="https://outlook.office365.com/owa/calendar/jasonkwan@seneca.onmicrosoft.com/bookings/"> Original Booking Form with no Injected information
							</a>
							<br> •
							<a href="https://apps.senecacollege.ca/bookingapp/bookadvice?advisorName=jasonkwan&studentId=123123123&studentName=JK&studentEmail=test@test.ca">Injected Information Booking Form Production</a>
							<br> • Refactor code to restructure jsp page for email confirmation
							<br> • Created HTML5 Canvasses for animations interacting with mouse position
							<br> • Created Frontend
							<a href="https://kwanjas3.github.io/reactjsbuild">ReactJS</a> webapp to render email groups from api fetch call
							<br> • Created jkresume.herokuapp.com/testapi to send string JSON response for fetch calls
							<br> • Created jkresume.herokuapp.com/testapi2 to send XML response for fetch calls
							<br> • Assisted in moving project to production by means of RFC
							<br> • Notified DB Admins to create an account with necessary table permissions and lock necessary pages with single sign-on
							<br> • Templated
							<a href="https://github.com/kwanjas3/reactPlusExpress">React Frontend with Express backend </a>
							<br> • Designed and Developed Drag and Drop exercise for Aviation students practicing signage.
							<br> • Developed workaround for panning containment to work with existing library.
							<br> • Developed airport taxi training video application.
							<br> • Utilized youtube api for generating videos and detecting when they end.



						</article>
					</li>

					<li>
						<b>Feb 10th 2018</b>
						<br> •
						<a href="https://github.com/kwanjas3/hackernest">Webapp/Android Development for Small/Medium Fish-Farmers</a>
						<br> •
						<a href="http://fishackathon.hackernest.com/">fishhackathon.hackernest.com</a>
						<br> •
						<a href="https://stormy-atoll-53002.herokuapp.com">Deployment</a> herokuapps sleep after being inactive for 30 minutes, please wait 5 seconds for the backend to bootup
						<br> •
						<a href="https://pr.to/RM4QKX/">Android Prototype</a>
						<br> • To facilitate better access to information on alternative fish feeds that will have a positive environmental and
						financial impact.
						<br>
					</li>

					<li>
						<b>Sept 2015 - Current</b>
						<br> •
						<a href="http://www.notabilia.ca/">Tutor, Admin, Notabilia</a>
						<br> • Tutored math and science for students of various grades and levels
						<br> • Taught a grade 3 student how to implement simple C programs
						<br> • Scouted potential tutors through job invitations and university job portals
						<br> • Book-keeping duties
						<br> • Interviewed potential candidates for tutoring positions

					</li>
					<li>
						<b>Aug 2005 - Dec 2016</b>
						<br> •
						<a href="http://www.sammychengtorontoliondance.com/">Martial Arts Instructor / Event Performer, Sammy Cheng CLK </a>
						<br> • Volunteered to teach Martial Arts on Friday evenings, Sunday mornings
						<br> • Volunteered to teach Chinese Lion Dance Friday evenings
						<br> • Performed at events with various VIPs such as
						<a href="https://youtu.be/BaQ4GQtZKPs?t=48">Justin Trudeau</a> and
						<a href="http://www.sammychengtorontoliondance.com/Camera%20Pictures%20417.JPG">Stephen Harper</a>
						<br>

					</li>

					<br>
				</ol>
			</div>
		</article>
	</section>
</div>